body {
  margin: 0;
  padding: 50px 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.y-list {
  margin: 0 auto;
}

.x-list {
  display: flex;
}

.item {
  width: 20px;
  height: 20px;
  background-color: linen;
  border: 1px solid lightsteelblue;
}

.item:hover {
  background: plum;
}

.item.hovered {
  background: teal;
}